####################################################
# Kareem Ashraf Mostafa
# kareem.ash05@gmail.com
# +201002321067
# github.com/kareem05-ash
####################################################
# ========== Simulation Artifacts ==========
*.vcd
*.wlf
*.vdb
*.log
*.jou
*.pb
*.svf
*.ucdb
*.do~
*.bak
*.asdb
*.vstf
*.err
*.tcl
*.mti
*.mpf
*wlf

# ========== QuestaSim Work Directory ==========
work/
vsim.wlf
transcript
vsim.dbug
*.ini
*.db
*.sdf
wlf*
*.mpf
*.mti

# ========== Vivado-specific ==========
*.str
*.cache/
*.webtalk/
*.hw/
*.runs/
*.ip_user_files/
*.Xil/
*.xpr.user
*.xsim/
*.sim/
*.srcs/
*.vivado.jou
*.vivado.log

# ========== General temp & OS Files ==========
*.tmp
*.swp
*.swo
*.bak
*.old
*.DS_Store
*.pptx
*.pdf
Thumbs.do

# ========== Misc Output ==========
*.bin
# *.hex
# *.txt
# 